Web References/golfespservice/gespws.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/GolfEspWS/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/GolfEspWS/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/GolfEspWS/">
      <s:element name="GetCourses">
        <s:complexType />
      </s:element>
      <s:element name="GetCoursesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCoursesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTees">
        <s:complexType />
      </s:element>
      <s:element name="GetTeesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTeesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCoursesSoapIn">
    <wsdl:part name="parameters" element="tns:GetCourses" />
  </wsdl:message>
  <wsdl:message name="GetCoursesSoapOut">
    <wsdl:part name="parameters" element="tns:GetCoursesResponse" />
  </wsdl:message>
  <wsdl:message name="GetTeesSoapIn">
    <wsdl:part name="parameters" element="tns:GetTees" />
  </wsdl:message>
  <wsdl:message name="GetTeesSoapOut">
    <wsdl:part name="parameters" element="tns:GetTeesResponse" />
  </wsdl:message>
  <wsdl:portType name="gespwsSoap">
    <wsdl:operation name="GetCourses">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get all Tees.</wsdl:documentation>
      <wsdl:input message="tns:GetCoursesSoapIn" />
      <wsdl:output message="tns:GetCoursesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTees">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get all course Tees.</wsdl:documentation>
      <wsdl:input message="tns:GetTeesSoapIn" />
      <wsdl:output message="tns:GetTeesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="gespwsSoap" type="tns:gespwsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCourses">
      <soap:operation soapAction="http://tempuri.org/GolfEspWS/GetCourses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTees">
      <soap:operation soapAction="http://tempuri.org/GolfEspWS/GetTees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="gespwsSoap12" type="tns:gespwsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCourses">
      <soap12:operation soapAction="http://tempuri.org/GolfEspWS/GetCourses" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTees">
      <soap12:operation soapAction="http://tempuri.org/GolfEspWS/GetTees" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="gespws">
    <wsdl:port name="gespwsSoap" binding="tns:gespwsSoap">
      <soap:address location="http://localhost:81/gespws.asmx" />
    </wsdl:port>
    <wsdl:port name="gespwsSoap12" binding="tns:gespwsSoap12">
      <soap12:address location="http://localhost:81/gespws.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>